@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900; 1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    // overflow-x: hidden;
};

body{overflow-x: hidden;}




// header
header{
max-width: 100%;
background-color: #FED100;
min-height: 24rem;
border-end-end-radius: 1rem;
};

.header__container {
    margin: 0 0 0 2rem;
    padding: 20px 10px;
}

.nav{
    ul{display: flex;gap: 40px;}
    a{
        font-family: Rubik;
font-weight: 500;
color: #333333;
text-decoration: none;
&:hover{
    transition: 0.3s all;
    color: rgb(255, 255, 0);
}
    }
};


.open{
    display: flex !important;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
};

.header__telephone {
    a{
        font-family: Rubik;
        font-size: 17px;
        font-weight: 500;
        color: #333333;
        &:hover{transition: 0.3s; text-decoration: none;}
    }
}

.burger{
    display: none;
    position: relative;
    z-index: 50;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
    height: 20px;
    span{
        width: 100%;
        height: 2px;
        background-color: #333;
        transform: scale(1);
    }
    &::before, &::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        transition: all 0.3s;
    }
    &::before{top: 0;};
    &::after{bottom: 0;}
};

.burger.active{
    overflow: hidden;
    span{
       transform: scale(0);
    }
    &::before{
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    &::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
}

@media (max-width: 860px){
    .burger{
        overflow: hidden;
        display: flex;
        overflow: hidden;
        margin: 0 20px;
        .active{
            position: fixed;
            top: 30px;
            right: 0;
        }
    }
    .nav{
        ul{
         display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; right: 0; left: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
        a{
            color: antiquewhite;
            &:hover{text-decoration: underline;}
        }
    }
    }
    .burger.active{
        position: fixed;
        top: 20px;
        right: 10px;
        &::before, &::after{
            background-color: #eee;
        }
    }
    .header__telephone{display: none;}
    @keyframes burgerAnimation {
        0%{opacity: 0;}
        50%{opacity: 0.5;}
        100%{opacity: 1;}
    }
    .header__telephone.telephone{
        display: flex;
    }
};


.header__block {
    max-width: 300px;
    margin: 100px 0 0 0;
}

.header__title {
// max-width: 480px;
font-family: Rubik;
font-size: 50px;
font-weight: 600;
p{
    margin: 10px 0 50px 0;
    font-size: 20px;
}
};


.header__button{
    button{
        &:active{
            transition:0.1s all ;
            color: #eee;
        box-shadow: 0px 0px 21px 0px #000000 inset;
        }
        cursor: pointer;
position: relative;
width: 200px;
background-color: #FF352B;
border: none;
height: 40px;
border-radius: 0.4rem;
color: #333333;
font-family: Rubik;
font-weight: 700;
font-size: 20px;
outline: none;
}    
}



.header__block-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-width: none;
}
.header__img-curier{
    height: 400px;
    width: 250px;
}






// main
// section one

section{
    margin: 80px 0 0 0;
}

.section__one-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section__one-box {
    height: 50px;
    max-width: 400px;
    margin: 60px 40px;
    span{
font-family:Rubik ;
font-size: 18px;
font-weight: 500;
}
p{
        margin: 6px 0 0px 0;
font-family:Rubik;
font-size: 14px;
font-weight: 400;
line-height: 21.02px;
text-align: left;
    }
}
.one__box-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__title {
font-family: Rubik;
font-size: 50px;
font-weight: 300;
color: #333333;
margin: 0 10px 0 0;
};

.title{
font-family: Rubik;
font-size: 30px;
font-weight: 600;
line-height: 36.57px;
text-align: center;
max-width: 25rem;
margin: 0 auto;
}





// section 2
.two__block{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.two__box {
    position: relative;
    width: 350px;
height: 400px;
border: 1px;
padding: 50px 10px;
border: 2px solid #EBEBEB;
&:hover{
    border: 2px solid #FED100;
}
p{
margin: 10px 0 0 0;
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 21.02px;
text-align: center;
}
}

.two__title{
    //styleName: underTitle;
font-family: Rubik;
font-size: 22px;
font-weight: 600;
line-height: 29.26px;
text-align: center;

}


.box__price {
margin: 30px 0 0 0;
font-family: Rubik;
font-size: 30px;
font-weight: 500;
line-height: 36.57px;
text-align: center;
}
.two__button {
    color: #333333;
   cursor: pointer;
    width: 250px;
height: 51.34px;
font-family: Rubik;
font-size: 20px;
font-weight: 500;
padding: 10px;
text-align: center;
background-color: #FED100;
margin: 0 auto;
 position: absolute;
 bottom: 40px;
 left: 45px;   
 border: none;
 border-radius: 5px;
 &:active{
    box-shadow: 0px 0px 10px 0px #000000 inset;
 }
}





// section 3
.tab__main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
    text-align: center;
    }
    .tab-item {
        width: 201px;
        padding: 10px 0;
        height: 50px;
        border: 1px;
        border: 1.5px solid #EBEBEB;
        margin: 15px 25px;
        font-family: Rubik;
        font-size: 20px;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        color: black;
&:hover{
border: 1.5px solid #FED100;
}
}




.tabs__content{
    max-width: 1000px;
    display: none;
}

.tabs__content:target{
    display: block;
    position: absolute;
    left: 5rem;
}

.wrapper__title {
font-family: Rubik;
font-size: 24px;
font-weight: 600;
};

.tab-item.tab-active{
    background-color:#FED100 ;
    color: white;
}

.tab__block{
    display: flex;
    flex-direction: column;
}
.tab__body{
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
}


.tab__button{
    cursor: pointer;
width: 220px;
height: 50px;
font-size: 20px;
font-weight: 500;
text-align: center;
color: #333333;
font-family: Rubik;
background: #FED100;
border: none;
border-radius: 4px;
&:active{
    box-shadow: 0px 0px 10px 0px #000000 inset;
}
}


.wrapper__list {
    margin: 20px 0;
    li{
        margin: 18px 0;
        padding-left: 22px;
        background: url('../img/check.png') left no-repeat;
        
font-size: 16px;
        font-family: Rubik;

    }
}







// section 4
.section__four{
margin:590px 0 0 0;
min-width: 100%;
min-height: 500px;
background-color: #FED100;
};

.four__title{
    padding: 50px 0 0 0;
}

.reviews__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reviews__block{
    width: 400px;
height: 300px;
padding: 10px 0 0 0;
margin: 0 5px;

&:not(:nth-child(-n + 3)){
display: none;
}
}

.reviews__subtitle{
    padding: 2px 0 6px 0;
}

.reviews__text {
font-family: Rubik;
font-size: 13px;

}

#more{
    display: none; 
}
#read{
    cursor: pointer;
    font-size: 17px;
    font-weight: 600px;
    text-decoration: underline;
}

#more2{
    display: none; 
}

#read2{
    cursor: pointer;
    font-size: 17px;
    font-weight: 600px;
    text-decoration: underline;
}

#more3{
    display: none; 
}

#read3{
    cursor: pointer;
    font-size: 17px;
    font-weight: 600px;
    text-decoration: underline;
}


#moreFour{
    display: none;
}

#readFour{
    cursor: pointer;
    font-size: 17px;
    font-weight: 600px;
    text-decoration: underline;
}

.reviews__button{
    width: 250px;
height: 50px;
border: 1px;
font-family: Rubik;
font-size: 20px;
font-weight: 500;
color: #333;
background-color: transparent;
border: 1px solid #333333;
cursor: pointer;
display: block;
margin: 0px auto;
padding: 10px 0;
&:active{
box-shadow: 0px 0px 10px 0px #000000 inset;
}
};



// section 5
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none; /* Кнопки спрятаны */
}


.form__title {
p{
color: #333;
font-family: Rubik;
font-size: 18px;
}
}

.form__block {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    position: relative;
}

.form__button {
    cursor: pointer;
width: 220px;
height: 45px;
border: none;
font-family: Rubik;
font-size: 20px;
font-weight: 500;
color: #f2f2f2;
text-align: center;
background-color: #FF352B;
border-radius: 5px;
margin: 0 0 10px 0;
&:active{
    box-shadow: 0px 0px 10px 0px #000000 inset;
}
}

.form__body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0 0 0; 
}

.form__block-inputs{
    margin: 0 50px 0 0;
}

.form__block-button{
    span{
        font-size: 12px;
    }
}


.form__input{
    input{
        width: 100px;
        }
        border: none;
        outline: none;
        font-family: Rubik;
        font-size: 18px;
    margin: 0 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #333;
}



// sectin-6
.map__container {
}
.map {
width: 100%;
min-width: 100%;
background-size: cover;
}





// footer
#footer{
    min-width: 100%;
    height: 240px;
    background-color: #FED100;
    }
    .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0 0 0px;
}

.footer__block-title {
    display: block;
    max-width: 200px;
}

.footer__title {
font-family: Rubik;
font-size: 30px;
font-weight: 600;

color: #333333;
}

.footer__block-text {
    p{
        margin: 20px 0;
font-family: Rubik;
font-size: 14px;
color: #0E0F12;
&:hover{
    text-decoration: underline;
}
    }
}


.footer__navigation {
    display: block;
    margin: 0 0 0 40px;
    p{
        padding: 5px 0;
    }
    a{
        text-decoration: none;
font-family: Rubik;
font-weight: 500;
color: #333333;
&:hover{
    text-decoration: underline 1px #333333;
}
    }
}

.footer__social {
    margin: 0 0 0 100px;
    position: relative;
    padding: 5px 0 0 0;
}
.social {
    a{
        text-decoration: none;
    margin: 0 15px;
    }
    img{
    }
}

.email {
padding: 10px 0 0 0;
    display: block;
    text-align: center;
    font-family: Rubik;
    color: #333333;
    font-weight: 400;
    text-decoration: none;
&:hover{
    text-decoration: underline;
}
}





// Адаптив

@media (max-width: 320px){




    .burger{
        margin: 0 25px 0 0;
    }
    body{
        overflow-x: hidden;
    }
    // header 
    header{
        width: 100%;
    }
    .header__telephone{
        display: none;
    }
    .header__img-curier{
        display: none;
    }
    .header__title{
        font-size: 40px;
    }

    .two__box {
        width: 250px;
    height: 350px;
    }

    .two__button {
        width: 200px;
    height: 51.34px;
      position: absolute;
      bottom: 10px;
      left: 25px;   
     }


    .section__two-title{
            
                font-family: Rubik;
                font-size: 20px;
                font-weight: 600;
                line-height: 36.57px;
                text-align: center;
                width: 250px;
                margin: 0 auto;
                
    }

    .wrapper__img{
        img{
        display: none;
        }
    }


    // section-4

    // .reviews__block{
    //     width: 100px;
    //     height: 300px;
    //     padding: 10px 0 20px 0;
    //     margin: 15px 0 0 15px;
    // }

    .reviews__body{
        padding: 0 0 50px 0;
        width: 300px;
    }

    .section__four{
        margin: 370px 0 0 0;
        min-width: 100%;
        min-height: 680px;
        background-color: #FED100;
        };


        .reviews__button{
            display: none;
        }
        .reviews__text{
            font-size: 14px;
        }
        .tabs__img{
            display: none;
        }


        // section-5
        .form__block-button{
            span{
                font-size: 14px;
            }
        }
        .form__body{
            display: flex;
            flex-direction: column;
        }
        .form__block-inputs{
            input{
                margin: 10px 0px 10px 40px;
            }
        }
        
        // section -6

        .map {
            display: none;
            }

            // footer
            #footer{
                min-width: 100%;
                height: auto;
                background-color: #FED100;
                }

                .footer__navigation{
                    // margin: 10px 0;
                    display: none;
                }


            .footer__container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column;
                padding: 30px 0 0 0px;
            }

            .footer__block-text {
                p{
                    margin: 20px 0;
            font-family: Rubik;
            font-size: 14px;
            color: #0E0F12;
            &:hover{
                text-decoration: underline;
            }
                }
            }

            .footer__social {
                margin: 0 0 20px 0;
                position: relative;
                padding: 5px 0 0 0;
            }
            .social {
                a{
                    text-decoration: none;
                margin: 0 10px;
                }
            }
            
            .email {
            padding: 10px 0 0 0;
                display: block;
                // text-align: center;
                font-family: Rubik;
                color: #333333;
                font-weight: 400;
                text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
            }
}

@media (max-width: 375px){
    .reviews__body{
        padding: 0 0 50px 0;
    }

    .burger{
        margin: 0 25px 0 0;
    }
    body{
        overflow-x: hidden;
    }
    // header 
    header{
        width: 100%;
    }
    .header__telephone{
        display: none;
    }
    .header__img-curier{
        display: none;
    }
    .header__title{
        font-size: 40px;
    }

    .two__box {
        width: 250px;
    height: 350px;
    }

    .two__button {
        width: 200px;
    height: 51.34px;
      position: absolute;
      bottom: 10px;
      left: 25px;   
     }


    .section__two-title{
            
                font-family: Rubik;
                font-size: 20px;
                font-weight: 600;
                line-height: 36.57px;
                text-align: center;
                width: 250px;
                margin: 0 auto;
                
    }

    .wrapper__img{
        img{
        display: none;
        }
    }

    // section-4
    .section__four{
        margin: 370px 0 0 0;
        min-width: 100%;
        min-height: 500px;
        background-color: #FED100;
        };

        .reviews__block{
            width: 280px;
            height: 300px;
            padding: 10px 0 20px 0;
            margin: 15px 0 0 15px;
        }

        .reviews__button{
            display: none;
        }
        .reviews__text{
            font-size: 14px;
        }
        .tabs__img{
            display: none;
        }

        // section-5

        .form__block-button{
            span{
                font-size: 14px;
            }
        }
        .form__body{
            display: flex;
            flex-direction: column;
        }
        .form__block-inputs{
            input{
                margin: 10px 0px 10px 40px;
            }
        }
        
        // section -6

        .map {
            display: none;
            }

            // footer
            #footer{
                min-width: 100%;
                height: auto;
                background-color: #FED100;
                }

                .footer__navigation{
                    // margin: 10px 0;
                    display: none;
                }


            .footer__container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column;
                padding: 30px 0 0 0px;
            }

            .footer__block-text {
                p{
                    margin: 20px 0;
            font-family: Rubik;
            font-size: 14px;
            color: #0E0F12;
            &:hover{
                text-decoration: underline;
            }
                }
            }

            .footer__social {
                margin: 0 0 20px 0;
                position: relative;
                padding: 5px 0 0 0;
            }
            .social {
                a{
                    text-decoration: none;
                margin: 0 10px;
                }
            }
            
            .email {
            padding: 10px 0 0 0;
                display: block;
                // text-align: center;
                font-family: Rubik;
                color: #333333;
                font-weight: 400;
                text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
            }
}

@media (max-width: 425px){
    .reviews__body{
        padding: 0 0 50px 0;
    }
    .burger{
        margin: 0 25px 0 0;
    }
    body{
        overflow-x: hidden;
    }
    // header 
    header{
        width: 100%;
    }
    .header__telephone{
        display: none;
    }
    .header__img-curier{
        display: none;
    }
    .header__title{
        font-size: 40px;
    }

    .two__box {
        width: 250px;
    height: 350px;
    }

    .two__button {
        width: 200px;
    height: 51.34px;
      position: absolute;
      bottom: 10px;
      left: 25px;   
     }


    .section__two-title{
            
                font-family: Rubik;
                font-size: 20px;
                font-weight: 600;
                line-height: 36.57px;
                text-align: center;
                width: 250px;
                margin: 0 auto;
                
    }

    .wrapper__img{
        img{
        display: none;
        }
    }

    // section-4
    .section__four{
        margin: 370px 0 0 0;
        min-width: 100%;
        min-height: 500px;
        background-color: #FED100;
        };

        .reviews__block{
            width: 280px;
            height: 300px;
            padding: 10px 0 20px 0;
            margin: 15px 0 0 15px;
        }

        .reviews__button{
            display: none;
        }
        .reviews__text{
            font-size: 14px;
        }
        .tabs__img{
            display: none;
        }

        // section-5

        .form__block-button{
            span{
                font-size: 14px;
            }
        }
        .form__body{
            display: flex;
            flex-direction: column;
        }
        .form__block-inputs{
            input{
                margin: 10px 0px 10px 40px;
            }
        }
        
        // section -6

        .map {
            display: none;
            }

            // footer
            #footer{
                min-width: 100%;
                height: auto;
                background-color: #FED100;
                }

                .footer__navigation{
                    // margin: 10px 0;
                    display: none;
                }


            .footer__container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column;
                padding: 30px 0 0 0px;
            }

            .footer__block-text {
                p{
                    margin: 20px 0;
            font-family: Rubik;
            font-size: 14px;
            color: #0E0F12;
            &:hover{
                text-decoration: underline;
            }
                }
            }

            .footer__social {
                margin: 0 0 20px 0;
                position: relative;
                padding: 5px 0 0 0;
            }
            .social {
                a{
                    text-decoration: none;
                margin: 0 10px;
                }
            }
            
            .email {
            padding: 10px 0 0 0;
                display: block;
                // text-align: center;
                font-family: Rubik;
                color: #333333;
                font-weight: 400;
                text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
            }
}

@media (max-width: 768px){
    .burger{
        margin: 0 25px 0 0;
    }
    body{
        overflow-x: hidden;
    }
    // header 
    header{
        width: 100%;
    }
    .header__telephone{
        display: none;
    }
    .header__img-curier{
        display: none;
    }
    .header__title{
        font-size: 40px;
    }


    .wrapper__img{
        img{
        display: none;
        }
    }

    // section-4
    .section__four{
        margin: 370px 0 0 0;
        min-width: 100%;
        min-height: 500px;
        background-color: #FED100;
        };

        .reviews__block{
            width: 280px;
            height: 300px;
            padding: 10px 0 20px 0;
            margin: 15px 0 0 15px;
        }

        .reviews__button{
            display: none;
        }
        .reviews__text{
            font-size: 14px;
        }
        .tabs__img{
            display: none;
        }

        // section-5

        .form__block-button{
            span{
                font-size: 14px;
            }
        }
        .form__body{
            display: flex;
            flex-direction: column;
        }
        .form__block-inputs{
            input{
                margin: 10px 0px 10px 40px;
            }
        }
        

}
